
.calculation-item {
    box-shadow: 0 1px 3px #0003;
    border-radius: 4px;

    /*padding: 16px;*/
    flex-basis: 30px;
    flex-grow: 1;
    flex-shrink: 1;

}


h2 {
    background-color: var(--verdigris);
    width: 250px;
    text-align: left;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-left: 1em;
    margin: 0.3em 0.4em;

}

.invisible-text, .visible-text {
    background-color: var(--powder-blue);
    color: var(--powder-blue);
    font-size: 1px;
    border-bottom: 1px dashed black;
    padding: 0 10px;
    width: 50px;
}


.visible-text {
    /* if false then visible color*/
    color: var(--bordeaux);
    font-size: small;
}

.sub-text {
    font-size: 0.9em;
    font-weight: 500;
}