
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bordeaux: #b02742;
    --wine: #6b2737ff;
    --persian-orange: #e08e45ff;
    --lemon-chiffon: #fffacdff;
    --peach: #ffe5b4ff;
    --granny-smith-apple: #bdf7b7ff;
    --powder-blue: #accfd1ff;
    --test: #784d57;
    --test2: #5d474e;
    /* SCSS HEX */
    --peach-yellow: #f1daa1ff;
    --columbia-blue: #b5cad5ff;
    --xanthous: #e5b544ff;
    --platinum: #e5e6e7ff;
    --steel-blue: #4d80a1ff;
    --burnt-sienna: #e07149ff;
    --paynes-gray: #355970ff;
    --verdigris: #6cbab4ff;
    --seasalt: #f6f7f8ff;

    /* CSS HEX */
    --robin-egg-blue: #66c1caff;
    --garnet: #7b3b3dff;
    --tomato: #f9613fff;
    --redwood: #a05349ff;
    --caribbean-current: #28767bff;

    /* CSS HEX */
    --misty-rose: #fbe4ddff;
    --champagne-pink: #dccbc4ff;
    --redwood: #a2544aff;
    --tea-rose-red: #d7b7b7ff;
    --garnet: #723933ff;
}



.extra path {
    fill: var(--bordeaux);
}


.logo {
    height: 3em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;

}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}


.outer-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    min-height: 32em;
    background-color: var(--powder-blue);
}

/* De buitenste container is altijd de volledige schermbreedte. Het is een flexbox container die zijn inhoud altijd netjes horizontaal centreert */
.inner-container {

    margin: 0 20px;
    /*padding: 0 20px;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: var(--verdigris);
}

.card {
    padding: 0.5em;
    background-color: var(--misty-rose);

    border-radius: 8px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    flex-basis: 30px;
    height: 92em;
}

.calculation-list {
    list-style: -moz-ethiopic-numeric;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    flex-basis: 100px;
    height: 58em;
    flex-grow: 1;
    flex-shrink: 1;
}


.read-the-docs {
    color: #888;
}




